<div class="container d-flex align-items-center justify-content-center">
  <img style="width: 350px; height: auto;" src="/assets/output-onlinepngtools.png" />
</div>

<div class="container-fluid d-flex align-items-center justify-content-center">
  <div class="row w-100 justify-content-center">
 
    <div class="card col-2 me-5 w-25" [routerLink]="['studenti']" style="background-color: rgb(159, 177, 159);">
      <img src="/assets/students.png" class="card-img-top" alt="card-grid-image" />
      <div class="card-body">
        <div class="text-center"><h5 class="card-title">STUDENTI</h5></div>
      </div>
    </div>

    <div class="card col-2 ms-5 w-25" [routerLink]="['documenti']" style="background-color: rgb(159, 177, 159);">
      <img src="/assets/binary-code.png" class="card-img-top" alt="card-grid-image" />
      <div class="card-body">
        <div class="text-center"><h5 class="card-title">DOCUMENTI</h5></div>
      </div>
    </div>
  
  </div>
</div>
