 
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background-color: rgb(159, 177, 159);
    color: white;
    text-align: center;
    min-height: fit-content;
  }